body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('./img/hin.png') repeat;
    animation: animateBackground 60s linear infinite; 
    background-size: 500px;
}

@keyframes animateBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.heart-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    color: #ef07eb;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.message:hover {
    transform: scale(1.2);
}